* {
    padding: 0;
    margin: 0;

}

.container {
    box-sizing: border-box;
    min-height: 100vh;
    background-color: white;
    display: grid;
    grid-template-columns: 18vw 20vw 4fr 18vw;
    grid-auto-rows: minmax(65px, auto);
}

.header1 {
    background-color: white;
    grid-column: 2/4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
}

.logo {
    width: 150px;
}

.menu {
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 25px;
    
}

.items{
    font-size: 20px;
    cursor: pointer;
}

.items:hover{
    color: #cf5b5b ;
}

.itemred {
    color: #cf5b5b;
}

.header2 {
    display: flex;
    background-color: blueviolet;
    grid-column: 1/5;
    background-image: url(./images/headerback.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.categoria {
    font-family: meriweather, sans-serif;
    font-weight: 700;
    color: #1e014c;
    font-size: 1.71428571em;
    margin-top: 50px;
}

.searchtitle {
    font-family: meriweather, sans-serif;
    font-weight: 700;
    color: #44494b;
    font-size: 1.71428571em;
    margin-top: 50px;

}

.searchbar {
    margin-top: 10px;
    display: block;
    width: 100%;
    height: 47px;
    padding-left: 20px;
    outline: none;
    border: solid #b8b2b2 1px;
    border-radius: 5px;

}

.searchbar::placeholder {
    font-size: 14px;
    font-style: italic;
    color: #a19e9e ;
    font-weight: bold;
}

.vagas {
    display: flex;
    align-items: center;
    padding-left: 19%;
    font-size: 50px;
    font-weight: lighter;
}

.sidebar {
    background-color:white;
    grid-column: 2/3;
    margin-right: 15px;
}

.sidemenu1 {
    margin: 10px auto 60px auto;
}

.sidemenu2 {
    margin: 10px auto auto auto;
}

.sidemenu {
    list-style: none;
    padding: 35px 20px;
    background-color: #ebeeef;
}

.sidemenuin {
    list-style: none;
    padding-left: 25px;
}

.sidemenuitem {
    padding: 4px 2px;
    border-bottom: solid 1px #bbb;
    font-family: 'Cabin' ,sans-serif;
    font-size: 14px;
    color: #333;
    margin: 4px;
    

}

.sidemenuitemin {
    padding: 4px 2px;
    border-bottom: solid 1px #bbb;
    padding-right: 30px ;

}

.item-no-b {
    border: none;
}

.maincontent {
    background-color: white;
    grid-column: 3/4;
}

.vagas-main {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
    gap: 15px;
    margin: 0px auto 20px auto;
}

.vaga {
    background-color: #bbb;
    display: flex;
    width: 95%;
    height: 120px;
    justify-content: center;
    align-items: center;
}

.button {
    list-style: none;
    background-color: #bbb;
    
}

.topbuttonlist {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12% auto 20px auto;
}

.topbutton {
    padding: 15px;
    border-radius: 5px;
}

.pageinfo {
    padding: 15px 40px;
}


.footer1 {
    background-color: #210C38;
    grid-column: 1/5;
}

.footeritems {
    display: flex;
    gap: 10px;
    flex-flow: row wrap;
    justify-content: flex-start;

}

.footerspace1 {
    margin-left: 10%;
}

.bigicon {
    background-color: black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto auto auto 60px;
    cursor: pointer;
}

.footericonslist {
    display: flex;
    gap: 12px;
    list-style: none;
    justify-content: flex-end;
    margin: 30px 30px auto auto;

}

.footericons {
    background-color: #bbb;
    gap: 10px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
}

.footerlist {
    list-style: none;
    margin: 20px;
}

.footmenuitem {
    box-sizing: border-box;
    margin: 10px auto;
    font-family: 'Cabin' ,sans-serif;
    font-size: 14px;
    color: rgba(255,255,255,.75);;
}

.foottitle {
    color: #f5d006;
    margin: 20px;
    margin-right: 10vw;
}

.foottitlelast {
    padding-top: 10px;

}



